/* .cardFilme{
  boxSizing: "border-box", 
  width: "190px", 
  height: "220px", 
  backgroundColor: "#464646ff", 
  borderRadius: "10px", 
  display: "flex", 
  flexDirection: "column", 
  gap: "1", 
  padding:"20px", 
  justifyContent: "space-between"
} */